.wrapper {
  float: left;
  min-width: 250px;
  background-color: #f2f2f2;
  width: 20%;
  height: 100vh;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
  min-height: 32;
  padding: 0.5rem 1rem;

  .title {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  .list {
    min-height: 100%;

    .list-cards {
      margin-top: 1rem;
      height: 100vh;
    }
  }
}

.new-list {
  input {
    width: 100%;
    height: 2rem;
    line-height: 1.5rem;
  }
  .control {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      padding: 0.25rem 1rem;
      color: #ffffff;
      border-radius: 0.25rem;
    }
    .save {
      background-color: green;
    }
    .cancel {
      background-color: red;
    }
  }
}
